body {
  background-color: aliceblue;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  padding-left: 50px;
}

.hidden {
  display: none;
}

input {
  margin-bottom: 20px;
}

/* button {
  width: 200px;
  border-radius: 10px;
  background-color: antiquewhite;
  margin: 30px;
  padding: 30px;
} */
